<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#/home">Home</a></li>
            <li><a href="#/vacation">My Vacation</a></li>
            <!--<li><a href="#/landing">Restaurants</a></li>-->
            <li class="search-label">Select By Price</li>
            <li><select>
                <option value=""></option>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
                <option value="$$$$">$$$$</option>
            </select></li>
            <li class="search-label">Select By Cuisine</li>
            <li><select>
                <option value=""></option>
                <option value="american">American</option>
                <option value="asian">Asian</option>
                <option value="italian">Italian</option>
                <option value="mexican">Mexican</option>
            </select></li>

            <li class="search-label">Search for City Name</li>
            <li><input type="text" name="search" placeholder="Search.."></li>
            <button id="nav-search-btn" type="button">Search</button>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content bkgrnd-img">
            <div class="">
                <div class="row">
                    <div class="col-md-9">
                        <header>
                            <h1 id="header">Taco Tuesday</h1>
                        </header>
                    </div>

                    <div class="col-md-3">
                        <button id="profile-btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Mike
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mainContent">
                    <div class="row">
                        <div class="col-md-4 " ng-repeat="restaurant in zoomatoDisplay.restaurants">
                            <h3>{{ restaurant.restaurant.name }}</h3>
                            <button type="button" ng-click="getZoomato()" class="btn btn-success">Add To Vacation</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

