
<div  id="header-home" class="row">
    <div class="col-md-10 text-center">
        <h1 id="header-name">Taco Tuesday</h1>
    </div>
    <div class="col-md-2">
        <button id="home-profile-btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Mike
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#/landing">Log out</a></li>
        </ul>
    </div>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#/home">Home</a></li>
            <li><a href="#/vacation">My Vacation</a></li>
            <!--<li><a href="#/landing">Restaurants</a></li>-->
            <li class="search-label">Select By Price</li>
            <li><select>
                <option value=""></option>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
                <option value="$$$$">$$$$</option>
            </select></li>
            <li class="search-label">Select By Cuisine</li>
            <li><select>
                <option value=""></option>
                <option value="american">American</option>
                <option value="asian">Asian</option>
                <option value="italian">Italian</option>
                <option value="mexican">Mexican</option>
            </select></li>

            <li class="search-label">Search for City Name</li>
            <li><input class="form-control" type="text" name="search" placeholder="City name"></li>
            <button id="nav-search-btn" type="button">Search</button>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content bkgrnd-img">

                <div class="mainContent">

                    <div class="row">
                        <h2 id="featured-restaurant">Featured Restaurants</h2>
                        <div class="col-md-6 restaurant-info" ng-repeat="restaurant in zoomatoDisplay.restaurants track by $index">
                            <button id="restaurant-button" data-toggle="modal" data-target="#myModal-restaurant{{ $index }}" type="button" ng-click="console.log('string')" style="background-color:rgba(0,0,0,0); border:0" >{{ restaurant.restaurant.name }}</button>
                            <h4>{{ restaurant.restaurant.cuisines }}</h4>

                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="myModal-restaurant{{ $index }}" ng-repeat="restaurant in zoomatoDisplay.restaurants track by $index" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <h4 id="modal-restaurant-name" class="modal-title" >{{ restaurant.restaurant.name }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                    <h4>{{ restaurant.restaurant.location.address }}</h4>
                    <h4>Average Cost for 2 People: {{ restaurant.restaurant.currency }}{{ restaurant.restaurant.average_cost_for_two}}</h4>
                    <h4>Cuisine: {{ restaurant.restaurant.cuisines}}</h4>
                    <h4>User Rating: {{ restaurant.restaurant.user_rating.rating_text }} </h4>
                    <h4>Votes: {{ restaurant.restaurant.user_rating.votes }}</h4>
                    <!--<h4>Reviews:{{ restaurant.restaurant}}</h4>-->
                        </div>
                        <div class="col-md-6">
                            <img id="modal-image" ng-src="{{ restaurant.restaurant.thumb }}"
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="getZoomato()" class="btn" style="background-color:rgba(0,0,0,0); border:0; color:red;">Add To Vacation</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="loginForm.$invalid">Close</button>
                </div>
            </div>

        </div>
</div>

