<header>
    <div class="row">
        <div class="col-md-2">
            <img src="taco%20tuesday.jpg">
        </div>

        <div class="col-md-8 search">
            <input type="text" name="search" placeholder="Search for restaurant or cuisine">
            <button id="search-btn" type="button" class="btn btn-danger btn-md">Search</button>
        </div>

        <div class="col-md-2 dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Mike
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Bookmarks</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Find friends</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="row">
        <div class="col-md-12">
            <h2>Edit your Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <label for="first-name">First Name</label><br>
            <input  type="text" name="first-name" placeholder="First Name" size="20">
        </div>
        <div class="col-md-4">
            <label for="last-name">Last Name</label><br>
            <input  type="text" name="last-name" placeholder="Last Name" size="20">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <label for="user-name">User Name</label><br>
            <input  type="text" name="user-name" placeholder="User Name" size="20">
        </div>
        <div class="col-md-4">
            <label for="email">Email</label><br>
            <input  type="text" name="email" placeholder="Email" size="20">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <label for="password">Password</label><br>
            <input  type="text" name="password" placeholder="Password" size="20">
        </div>
    </div>
</section>