#wrapper {
    padding-left: 200px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -200px;
    left: 200px;
    width: 200px;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0px;
    text-align: center;
    font-family: serif;
    margin-top: 70px;

}

@media (max-width: 767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 200px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 200px;
        width: 200px;
        transition: all 0.4s ease 0s;
    }

}
#nav-search-btn{
    margin:5px 0px 0px 0px;
    float:left;
}

ul li a:hover {
    text-decoration: none;
    color: black;
}

ul li a:visited {
    text-decoration: none;
    color: black;
}

ul li a:active {
    text-decoration: none;
    color: black;
}

ul li {
    margin-top: 20px;
}

ul li a {
    color: black;
    font-size: 30px;
    margin-top: 20px;

}

body {
    background-image: url("/components/photos/eaters-collective-132773.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

input[type=text] {
    /*width: 130px;*/
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.search-label {
    margin-bottom: -20px;
}

#header-home {
    font-family: serif;
    font-size: 50px;
    background-color:rgba(255, 0, 0, 0.8);
    border-bottom:3px solid black;
}
#home-profile-btn{
    margin-top:20px;
}
#header-name{
    font-size:60px;
}

.restaurant-image{
    height:75px;
    width:75px;
    border-radius:50px;
}
.restaurant-info{
    padding-bottom:20px;
    color:yellow;
    text-shadow: 2px 2px black;
}
#featured-restaurant{
    text-align: center;
    font-family: serif;
    font-size:60px;
    text-decoration: underline;
    color:yellow;
    text-shadow: 2px 2px black;
}

/*********************  Log In Page  *************************/

.login-title {
    font-size: 60px;
    font-family: 'Diplomata SC', cursive;
    text-align: center;
}

.login {
    background-color: rgba(255, 0, 0, 0.6);
    padding: 30px;
    color: white;
    margin-top: 200px;
}

.login-form-group {
    width: 300px;
    text-align: center;
}

.login-submit {
    color: black;
    font-size: 40px;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: underline;
}

@media (max-width: 767px) {
    #login-title-small {
        font-size: 30px;
    }
}
.modal-backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: black;
    z-index: auto;
}

/*************************  Signup Page  *************************/

.signup-title {
    font-size: 100px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.signup {
    background-color: rgba(255, 255, 0, 0.6);
    padding: 10px;
    color: black;
    margin-top: 200px;
}

.signup-form-group {
    width: 300px;
    text-align: center;
}

.signup-submit {
    color: black;
    font-size: 40px;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
}

@media (max-width: 767px) {
    #signup-title-small {
        font-size: 60px;
    }
}
/*<<<<<<< Updated upstream*/

/*=======*/

/********************** vacation page *************************/
.vacation-main{
    background-color:rgba(1,1,1,0.3);
    padding:20px;
    color:yellow;
    text-shadow:2px 2px black;
}

.dropdown-menu a{
    font-size:18px;
}

.dropdown-toggle{
    margin-top:40px;
}

.jumbotron{
    height:300px;
    background-image:url("/components/photos/178a88cbb89df42557523f39ccc31cbc.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.schedule-header{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size:60px;
    margin-bottom: 30px;
    text-decoration: underline;

}


table th{
    width:250px;
    font-size:30px;
    text-decoration:underline;
    text-align: center;
}
tr td{
    padding-top:30px;
    /*border:1px solid black;*/
    text-align: center;
    font-size:20px;
}
tr{
    border-bottom:1px solid white;
}
footer{
    margin-top:60px;
    text-align: center;
}
footer ul li{
    display:inline;
    font-family:serif;
    font-size:30px;

}

footer li{
    padding-left:20px;
}


/********************** Profile Page *************************/
header{

    background-color:rgba(255, 0, 0, 0.8);
    border-bottom:1px solid black;
    padding:10px;

}

header img{
    height: 80px;
    width:80px;
    border-radius:5px;
    margin:0px 20px 0px 20px;
}

input{
    border-radius:5px;
    height:35px;
    width:275px;
}

.search{
    margin-top:25px;
}

.dropdown-toggle{
    margin:25px 0px 0px 15px;
    /*float:right;*/
}
.dropdown-menu{
    float:right;
}
.edit-profile{
    padding-top:40px;
}

h2{
    text-align: center;
}

section{

    background-color:rgba(250, 250, 210, 0.5);
    padding-bottom:30px;
}

article img{
    height:150px;
    width:150px;
    padding-bottom:10px;
}
#saved-vacations{
    text-align: center;
    font-family: serif;
    font-size:60px;
    margin-top:60px;
}
.saved-vacation-cities{
    text-align: center;

}
.saved-vacation-cities h2{
    text-decoration:underline;
}
/*.saved-vacation-cities h3{*/
    /*float:left;*/
/*}*/
/*.saved-vacation-cities button{*/
    /*float:left;*/
/*}*/

/************************ Home Page ***************************/

.mainContent{
    background-color:rgba(1,1,1,0.2);
    text-align: center;
    color:white;
    background-size:cover;

}



/*>>>>>>> Stashed changes*/
