<div class="row login">
    <div class="col-md-12">
        <h2 class="login-title" id="login-title-small">Taco Tuesday</h2>
        <div class="col-md-4 col-md-offset-2">
        <button style="background-color:rgba(0,0,0,0); border:0" class="login-submit center-block" data-toggle="modal" data-target="#myModal">Log In</button>
        </div>
        <div class="col-md-4">
            <button style="background-color:rgba(0,0,0,0); border:0" class="signup-submit center-block" data-toggle="modal" data-target="#myModalSignup">Sign Up</button>
        </div>
    </div>
</div>



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Log In</h4>
            </div>
            <div class="modal-body">
                <form class="login-form-group center-block" name="loginForm">
                    <label for="email">Email</label>
                    <input class="form-control" name="email" id="email" required ng-model="user.email">

                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" required ng-model="user.password">
                    <button type="button" ng-click="login(user)" class="btn btn-primary btn-lrg">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModalSignup" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="signup-modal-body">
                <form class="signup-form-group center-block" name="signupForm">

                    <label for="first-name">First Name</label>
                    <input class="form-control" name="first-name" id="first-name" required ng-model="user.firstName">

                    <label for="last-name">Last Name</label>
                    <input class="form-control" name="last-name" id="last-name" required ng-model="user.lastName">

                    <label for="displayName">Display Name</label>
                    <input class="form-control" name="displayName" id="displayName" ng-pattern="restrict" ng-minlength="3" required ng-model="user.displayName">
                    <p ng-show="signupForm.displayName.$invalid && signupForm.displayName.$touched">Display Name must be at least 3 characters</p>

                    <label for="email">Email</label>
                    <input class="form-control" name="email" id="email" required ng-model="user.email">

                    <label for="password">Password</label>
                    <input class="form-control" name="password" id="password" required ng-model="user.password">

                    <button type="submit" ng-click="signup(user)" class="btn btn-primary btn-lrg">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
