<div  id="header-home" class="row">
    <div class="col-md-10 text-center">
        <h1 id="header-name">Taco Tuesday</h1>
    </div>
    <div class="col-md-2">
        <button id="home-profile-btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Mike
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#/landing">Log out</a></li>
        </ul>
    </div>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#/home">Home</a></li>
            <li><a href="#/vacation">My Vacation</a></li>
            <li><a href="#/about">About</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div id="about-content">
            <h2 id="about-title">About Us</h2>
            <h3><strong>Team Taco is composed of Steven Davis, Evan Meidell, and Mike Booth.
                We are all currently enrolled in V School Coding Boot Camp in Salt Lake City, expected graduation date of
            March 31st, 2017.  This project is the final Full-Stack group project for the course.  It incorporates
                all the skills we have learned over the 3 month course, built primarily with AngularJs and Bootstrap.</strong><br><br>
                <strong>The website is designed so that someone going on vacation can search for restaurants in the particular
                city they are visiting, and allows them to look up details from all the restaurants, including
                menus, prices, ratings, and location.  The user can sign in and save a particular vacation being able
                    to plan their breakfast, lunch, and dinners for each particular day. </strong> <br><br>
                <strong>We ran into many obstacles throughout the process of creating the site, but working as a team resolved the
                issues and created a site that anybody can benefit from.  Although the site is primarily intended for
                use on vacation, it could also be used in daily life to search for, and plan out meals for someone just
                    looking for a place to eat in their home town.</strong><br><br>
                <strong>Future plans for the site include adding a notes section to individual vacations so the user can remind
                themselves about the things they did or did not like about the vacation.  Future plans also include adding
                an activity section to the site so the user can search for and save activities they would like to do
                    on their vacation.</strong>
            </h3>

        </div>
    </div>
</div>