<!--<div class="jumbotron">-->


<!--</div>-->
<div  id="header-home" class="row">
    <div class="col-md-10 text-center">
        <h1 id="header-name">Taco Tuesday</h1>
    </div>
    <div class="col-md-2">
        <button id="home-profile-btn" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Mike
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#/profile">Profile</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#/landing">Log out</a></li>
        </ul>
    </div>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Home</a></li>
            <li><a href="#">My Vacation</a></li>
            <!--<li><a href="#">Restaurants</a></li>-->
            <li class="search-label">Select By Price</li>
            <li><select>
                <option value=""></option>
                <option value="$">$</option>
                <option value="$$">$$</option>
                <option value="$$$">$$$</option>
                <option value="$$$$">$$$$</option>
            </select></li>
            <li class="search-label">Select By Cuisine</li>
            <li><select>
                <option value=""></option>
                <option value="american">American</option>
                <option value="asian">Asian</option>
                <option value="italian">Italian</option>
                <option value="mexican">Mexican</option>
            </select></li>


            <li class="search-label">Search for City Name</li>
            <li><input class="form-control" type="text" name="search" placeholder="City name"></li>
            <button id="nav-search-btn" type="button">Search</button>

        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content vacation-main container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="schedule-header">Restaurant Schedule</h2>
                </div>
            </div>
            <table>
                <tr class="table-headers">
                    <th>Day</th>
                    <th>Breakfast</th>
                    <th>Lunch</th>
                    <th>Dinner</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>McDonalds</td>
                    <td>Chilis</td>
                    <td>Pizza hut</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                </tr>
                <tr>
                    <td>Friday</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                </tr>

            </table>
            <footer>
                <ul>
                    <li>My Vacation.com</li>
                    <li>info@myvacation.com</li>
                    <li>123-456-7890</li>
                </ul>
            </footer>
        </div>
    </div>
</div>
